.example-sidenav-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: white;
}

.mat-drawer-container {
  height: 1000px;
}

.mat-drawer {
  background: #052950;
}

.mat-nav-list {
  background: #052950; 
}

.active {
  background-image: linear-gradient(to right, #052950, #107E8A);
}

.mat-list-item:hover {
  background-image: linear-gradient(to right, #052950, #107E8A);
}

.panel-text {
  color: white;
}

.exp-header {
  background-color: #052950 !important;
}

.exp-header:hover {
  background-color: #052950 !important;
}
