<mat-toolbar>
    <mat-toolbar-row>
        <img class="logo" matListIcon src="/assets/Momentum-logo.svg" alt="Momentum Logo">
        <span class="gap"></span>
        <img class="name" matListIcon src="/assets/Momentum-text.svg" alt="Momentum Title">
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <img class="profile-pic" matListIcon src="/assets/account_circle-black-24dp.svg" alt="Momentum Icon">
      </button>
    </mat-toolbar-row>

  </mat-toolbar>