
<div>
    <app-slidebar></app-slidebar>
</div>

<div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Momentum ag-Grid
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-grid></app-grid>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Momentum Exceptions
          </mat-panel-title>
        </mat-expansion-panel-header>
        No information to display
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Momentum Ratings
          </mat-panel-title>
        </mat-expansion-panel-header>
        No Infromation to display
      </mat-expansion-panel>
  </mat-accordion>
</div>

<!--
<div>
    <app-grid></app-grid>
</div>

<mat-slider min="1" max="100" step="1" value="50"></mat-slider>

-->
